* {
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}

html,
body {
    height: auto;
    color: #5a5a5a;
}

.navbar .brand {
    padding: 14px 20px 16px;
    /* Increase vertical padding to match navbar links */
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
    font-size: 150%;
    color: white;
}


/* Navbar links: increase padding for taller navbar */

.navbar .nav > li > a {
    padding: 25px 20px;
    font-size: 150%;
    font-weight: normal;
    color: white;
}


/* Offset the responsive button for proper vertical alignment */

.navbar .btn-navbar {
    margin-top: 10px;
}

footer {
    background-color: #BDBDBD;
}

